
# Created by https://www.gitignore.io/api/vim,unity,monodevelop,visualstudio,visualstudiocode

### MonoDevelop ###
#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources
test-results/

### Unity ###
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/UnityPackageManager/
/Assets/Cinemachine/
/Assets/Standard\ Assets/
/Assets/PostProcessing/
